{% extends "base.html" %}
{% block title %}Episodes{% endblock title %}
{% block content %}
</br>
</br>
</br>
</br>

<div class="container">
    <h2>RadioActive Past Episodes</h2>
    <br>
    <ul class="nav nav-tabs" role="tablist">
      {% for episode in episodes_list %}
      <li class="nav-item">
        <a class={% if forloop.first %}"nav-link active"{% else %}"nav-link"{% endif %} data-toggle="tab" href="#track{{ episode.trackId }}">{{ episode.pub_date }}</a>
      </li>
      {% endfor %}
    </ul>
  
    <div class="tab-content">
       {% for episode in episodes_list %}
      <div id="track{{ episode.trackId }}" class="container tab-pane {% if forloop.first %}active{% else %}fade{% endif %}"><br>
        {% include 'partials/_iframeSC.html' %}
      </div>
      {% endfor %}

    </div>
  </div>
</br>
</br>
</br>
{% endblock content %}