{% extends "base.html" %}
{% block title %}Playlists{% endblock title %}

{% block content %}
</br>
</br>
</br>
</br>

<div class="container">
        <h2>Listen to our Playlists</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-2">
                        <ul class="nav nav-tabs flex-column" role="tablist">
          
                                <li class="nav-item">
                                  <a class="nav-link active" data-toggle="tab" href="#Pop">Pop</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#Rock">Rock</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#Indie">Indie</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#Classical">Classical</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#Jazz">Jazz</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#Soul">Soul</a>
                                </li>
                                
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#Blues">Blues</a>
                                </li>
                                
                              </ul>
                </div>

                <div class="col-5 mx-auto mt-n5">
                        <div class="tab-content">
           
                                <div id="Pop" class="container tab-pane active"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX92MLsP3K1fI" width="300" height="380" frameborder="no" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                                <div id="Rock" class="container tab-pane fade"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWXRqgorJj26U" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                                <div id="Indie" class="container tab-pane fade"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX2Nc3B70tvx0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                                <div id="Classical" class="container tab-pane fade"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWEJlAGA9gs0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                                <div id="Jazz" class="container tab-pane fade"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXbITWG1ZJKYt" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                                <div id="Soul" class="container tab-pane fade"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DX62Nfha2yFhL" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                                <div id="Blues" class="container tab-pane fade"><br>
                                  <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1DXd9rSDyQguIk" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>                          
                                </div>
                                
                          
                              </div>

                </div>
                   
            </div>

        </div>
        
      

      </div>

</br>
</br>
</br>
{% endblock content %}