{% extends "base.html" %}
{% block title %}Submit Story{% endblock title %}

{% block content %}
</br>
</br>
</br>
</br>
<div class="container">
  <h2>Share your story to the timeline:</h2>
  </br>
  <form method='POST'> {% csrf_token %}
      {{ form.errors }}
      {{ form.non_field_errors }}
      <div class="form-group">
          <label for="title">* Title:</label>
          <input type="text" class="form-control col-6" required id="title" placeholder="Enter a Title" name="title">
        </div>
        <div class="form-group">
              <label for="story">* Story:</label>
              <textarea type="text" rows="4" class="form-control col-6" required id="story" placeholder="Enter your Story" name="story"></textarea>
      </div>
      <div class="form-group">
              <label for="startDate">* Event Date:</label>
              <input type="date" class="form-control col-4" required id="startDate" placeholder="Enter a date" name="startDate">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                  <input id="endCheck" class="form-check-input" type="checkbox"> Add End Date?
                </label>
             </div>
            <div style="display: none;" id="end" class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control col-4" id="endDate" placeholder="Enter a date" name="endDate">
              </div>
          </br>

        <h3>Media</h3>

        <div class="form-group">
               <label for="media_url">Enter one URL:</label>
               <input type="url" class="form-control col-6" id="media_url" placeholder="Enter a URL" name="media_url">
       </div>
       <div class="form-group form-check">
          <label class="form-check-label">
            <input id="capCheck" class="form-check-input" type="checkbox"> Add Caption?
          </label>
       </div>
       <div style="display: none;" id="cap" class="form-group">
          <label for="caption">Caption:</label>
          <input type="text" class="form-control col-6" id="caption" placeholder="Enter a caption" name="caption">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
              <input id="credCheck" class="form-check-input" type="checkbox"> Add Credits?
            </label>
         </div>
        <div style="display: none;" id="cred" class="form-group">
            <label for="credit">Credit:</label>
            <input type="text" class="form-control col-6" id="credit" placeholder="Enter a credit" name="credit">
          </div>
       <!-- <div class="form-group mb-4">
          <label for="backgroundImage">Background Image:</label>
          <input type="url" class="form-control col-6" id="backgroundImage" placeholder="Enter a URL" name="backgroundImage">
  </div> -->
       <button type='submit' value='Save' class="btn btnGreen">Submit</button>
  </form>
</div>

<script>
    $(document).ready(function(){
        $("#capCheck").click(function (){
            if ($("#capCheck").prop("checked")){
                $("#cap").show();
            }else{
                $("#cap").hide();
            }              
        });
        $("#credCheck").click(function (){
            if ($("#credCheck").prop("checked")){
                $("#cred").show();
            }else{
                $("#cred").hide();
            }              
        });
        $("#endCheck").click(function (){
            if ($("#endCheck").prop("checked")){
                $("#end").show();
            }else{
                $("#end").hide();
            }              
        });
    });
</script>

</br>
</br>
</br>
{% endblock content %}