{% extends "base.html" %}
{% block content %}
</br>
</br>
</br>
</br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-7 text-center">
            <h1>Thank you for sharing your story!</h1></br>
            <p class="mb-4" style="font-size: 22px;">Your story will published on the timeline upon successful review.<br><br></p>
            <a class="btn btnGreen mr-3" role="button" href="{% url 'submit_story' %}">Share another story</a>
            <a class="btn btnGreen" role="button" href="{% url 'home' %}">Home page</a>
        </div>
    </div>
</div>


</br>
</br>
</br>
{% endblock content %}